<h3>Carrinho</h3>

<p>
    <a routerLink="/entrega">Preços de Entrga</a>
</p>

<div class="cart-item" *ngFor="let item of itens">
    <span>{{ item.name }}</span>
    <span>{{ item.price | currency }}</span>
</div>

<form [formGroup]="form" (ngSubmit)="OnSubmit()">

    <div>
        <label for="nome">
          Nome
        </label>
        <input id="nome" type="text" formControlName="nome">
      </div>
    
      <div>
        <label for="End">
          Endereço
        </label>
        <input id="End" type="text" formControlName="end">
      </div>

    <button class="button" type="submit">Enviar Pedido</button>
  
  </form>