<h2>Produtos</h2>

<div *ngFor="let product of products" class="bg-primary">
    <!--Utilizando diretiva para modificar o DOM-->
    <div>
        <h3>
            <a [title]="product.name + ' detalhes'">
                {{ product.name }}
            </a>
        </h3>

        <p *ngIf="product.description">
            Informações: {{ product.description }}
        </p>

        <button type="button" (click)="share(product)">
            Compartilhar
        </button>

        <app-produto-alerta [produto]="product" (notificar)="onNotify()">

        </app-produto-alerta>
    </div>

</div>