<h1>Produtos</h1>


<div class="container ">
    <div class="row">

        <div *ngFor="let product of products" class="card col-3 m-2 p-2 border">
            <!--Utilizando diretiva para modificar o DOM-->
            <div>
                <h3>
                    <a [title]="product.name + ' detalhes'" [routerLink]="['/produtos', product.id]">
                        {{ product.name }}
                    </a>
                </h3>
        
                <p *ngIf="product.description">
                    Informações: {{ product.description }}
                </p>
        
                <button type="button" (click)="share(product)" class="my-2">
                    Compartilhar
                </button>
        
                <app-produto-alerta [produto]="product" (notificar)="onNotify()">
        
                </app-produto-alerta>
            </div>
        
        </div>
    
    </div>
</div>

